:root{
    --mount-meadow: #1bbc9c;
    --white-smoke: #f0f0f0;
    --night-rider: #343434;
    --black: #191b17;
    --transition: all 0.5s ease-in-out;
}
*{
    font-family: 'Hind Siliguri', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html{
    height: 4000px;
}

/* Utility */
img{
    width: 100%;
}
a{
    text-decoration: none;
    color:var(--black)
}
li{
    list-style-type: none;
}
button{
    cursor: pointer;
    outline: 0;
    background: transparent;
    
}
h1,h2,h3,h4,h5,h6{
    margin: 0.6rem 0;
    line-height: 1.25;
    font-weight: 400;
    text-transform: capitalize;
}
.container{
    max-width: 1320px;        
    margin: 0 auto;
    padding: 0 1rem ;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header navbar */

.header{
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url(../assets/header-bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:stretch;

}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index:999;
}
.brand-and-toggler{
    font-size: 1.65rem;
    display: flex;
    justify-content: space-between;
    padding: 0.85rem 0;
    align-items: center;
    
}
.navbar-brand{
    font-weight:500;
    color: var(--night-rider);
}
.navbar-brand span{
    color: var(--mount-meadow);
    padding: 0 1px;
}
.navbar-btn{
    border: none;
    color: var(--mount-meadow)
}

.navbar-nav{
    margin: 0.2rem 0 0.6rem 0;
}
.nav-item{
    padding: 0.6rem 0;
}
.nav-links{
    
    font-size: 0.95rem;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.65;
    letter-spacing: 1.5px;
    transition:var(--transition);
}
.nav-links:hover{
    color: var(--mount-meadow) !important;
}
.navbar-collaps{
    display:none;  
}
.hero-div{
    flex: 1;
    flex-direction: column;
    text-align: center;   
}
.hero-div h1{
    font-size: 2.55rem;
    padding-bottom: 0.4rem;
}
.hero-div p{
    color: var(--white-smoke);
    font-size: 1.08rem;
    font-weight:400;
    letter-spacing:3px;
    margin-bottom:2rem;
}
.hero-btns button{
    border:3.5px solid #fff;
    border-radius:2rem;
    padding:0.8rem 2rem;
    text-transform:uppercase;
}
.btn-trans{
    color:#fff;
    transition:var(--transition);
    display:none;
}
.btn-trans:hover{
    background:var(--mount-meadow);
    border-color:transparent;
}
.btn-white{
    background:#fff;
    color:var(--black);
    transition:var(--transition);
}
.btn-white:hover{
    background-color:transparent;
    /* border-color:#fff; */
    color:#fff;
}
/* detail */

.row{
    background-color:var(--white-smoke);
        padding:6rem 0;
        border:2px solid red;
        display:grid;
        grid-gap:3rem;
}
.row .detail-item{
    background-color: #fff;
    text-align: center;
}




@media(min-width:992px){
    .navbar{
        background:transparent;
        margin-top:1rem
    }
    .navbar .container{
        display:flex;
        align-items:center;
        justify-content:space-between;
    }
    .navbar-brand{
        color:var(--white-smoke);
        font-size:2rem;
    }
    .nav-links{
        color:var(--white-smoke);  
    }
    .navbar-collaps{
        display:block !important;
    }
    .navbar-nav{
        display:flex;
        margin:0;
    }
    .nav-item{
        margin-left: 1.6rem;
    }
    .navbar-btn{
        display:none;
    }
    .btn-trans{
        display:inline-block;
        margin-right: 0.8rem;
    }
    .hero-div h1{
        font-size:4rem;
    }
    .cng-navbar{
        -webkit-box-shadow:0px 2px 5ox 0px rgba(207,205,207,0.3);
        -moz-box-shadow:0px 2px 5ox 0px rgba(207,205,207,0.3);
        box-shadow:0px 2px 5ox 0px rgba(207,205,207,0.3);
        margin-top:0;
        background:#fff;
    }
    .cng-navbar .navbar-brand{
        color:var(--night-rider);
    }
    .cng-navbar .nav-links{
        color:var(--night-rider);
    }
}
